.userPhoto{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.userContainer{
  display: flex;
}

.userContainer-inner{
  display: flex !important;
}

.infoContainer{
  margin-left: 50px;
}

button{
  margin: 10px 0;
}

.selectedPage{
  font-weight: bold;
  cursor: pointer;
}