.nav {
  grid-area: n;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.item {
  margin-top: 10px;
}

.item a{
  text-decoration: none;
}

.item a.active{
  font-weight: bold;
  color: red;
  font-style: italic;
}

.friendItems{
  display: flex;
  align-items: center;
  justify-content: center;
}

.friendItems h1{
  text-align: center;
}

.friendsItems img{
  width: 40px;
}

.friendsItemsLeft{
  text-align: center;
}

.friendsItemsRight{
  display: flex;
  align-items: center;
  padding: 0 10px;
}